.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: #9b59b6;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8e44ad;
    text-align: center;
}

p {
    font-family: 'Arial', sans-serif;
    color: #c0392b;
    font-size: 18px;
    text-align: center;
}

.button {
    background-color: #5cb85c;
    border: none;
    color: pink;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.5s ease;
}

.button:hover {
    background-color: #4cae4c;
}
